body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #151515;
    width: 375px;
    height: 515px;
}

header {
    display: flex;
    height: 25px;
    justify-content: space-between;
    padding: 5px;
}
.icono {
    font-size: 12px;
    margin-left: 3px;
}

.cerrar {
    color: rgb(204, 39, 39);
}
.maximizar {
    color: rgb(212, 165, 36);
}

.minimizar {
    color: rgb(9, 184, 53);
}
.calculator {
    color: white;
}
.reloj {
    color: #ccc9c9;
}
.Error {
    color: white;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #929292;
}

.container-pantalla-number {
    height: 120px;
    width: 374px;
    background-color: #151515;
    position: relative;
}

.container-pantalla-number input[type="text"] {
    border: none;
    width: 290px;
    padding: 38px;
    outline: none;
    font-size: 36px;
    color: white;
    background-color: #151515;
}

.container-menu-number {
    height: 370x;
    display: flex;
}

.container-menu-number button {
    width: 75px;
    height: 60px;
    outline: none;
    color: #929292;
    background-color: #282828;
    padding: 0;
    margin: 0;
    border: 1px solid #080808;
    cursor: pointer;
}
.container-menu-number button:hover {
    background-color: #363636;
    transition: all 0.3s linear;
}
.container-menu-number button:active {
    background-color: #494848;
}

.container-menu-number div .style-grande {
    height: 120px;
    background-color: #fec900;
    color: #282828;
}
